*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background : #fca5a5;
    --text-color: #f1f5f9;
    --nav-background: #f87171;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav {
    background-color: var(--nav-background);
    width: fit-content;
    padding: 16px;
    border-radius: 24px;
}

ul,li {
    list-style: none;
}