*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background : #fca5a5;
    --text-color: #f1f5f9;
    --nav-background: #f87171;
    --a-hover:#e11d48;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main {
    background-color: var(--nav-background);
    width: fit-content;
    padding: 20px;
}

button{
    width: 100%;
    padding: 7px;
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color:var(--a-hover);
}


header {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    margin-bottom: 18px;
}

input {
    width: 100%;
    padding: 10px;
}
